<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in </title>

        <!-- CSS -->
        <link rel="stylesheet" href="/public/css/registration.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Reset Password</header>
                    <p class="centered-paragraph">Enter your email below, and we'll send you a message with your username and a link to reset your password.</p>

                    <form action="#" id="login-form">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" id="login-email" required>
                        </div>
                        
                        <div class="field button-field">
                            <button type="submit">Send Request</button>
                        </div>
                    </form>
                
        </section>

        <!-- JavaScript -->
        <script src="/public/js/forgot.js"></script>
    </body>
</html>