
  /*** Carousel Hero Header End ***/
  
  /*** Single Page Hero Header Start ***/
  .bg-breadcrumb {
    background: linear-gradient(rgba(19, 53, 123, 0.5), rgba(19, 53, 123, 0.5)),
      url(../img/breadcrumb-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
  }
  
  .bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-secondary) !important;
  }
  /*** Single Page Hero Header End ***/
  /* RESPONSIVE */
  
  @media only screen and (max-width: 1280px) {
      html {
          font-size: 14px;
      }
  
      .hero-slide-item {
          padding-top: 50%;
      }
  
      .item-content-wraper {
          width: 50%;
      }
      footer.a.logo{
          margin-top: 2.5rem;
      }
  }
  
  @media only screen and (max-width: 850px) {
    .footer-menu {
        padding: 0;
        margin: 0;
        
    }

    .footer-menu li {
        list-style: none;
        margin-bottom: 10px;
    
    }

    .footer-menu li p {
        margin: 0;
    }

    .col-3 {
        width: 50%; 
    }

    .footer-menu li img {
        max-width: 100%;
        height: auto;
    }
    .desc {
        margin-top: -10rem; 


    }

}

@media only screen and (max-width: 768px) {
    #carcap {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .carousel-caption span {
        font-size: 2rem; /* Adjust font size for h1 */
        margin-bottom: 1rem; /* Adjust margin bottom for h1 */
    
    }

    #partc,#partb{
        font-size: 1rem; /* Adjust font size for elements with partc id */
        margin-bottom: 0.5rem; /* Adjust margin bottom for elements with partc id */
       
    }
    .bolditems{
        font-size: 1rem; /* Adjust font size for elements with partc id */
        margin-bottom: 0.5rem; /* Adjust margin bottom for elements with partc id */
        
    }

    /* Add any additional styles for other elements as needed */
}
