/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/public/img/LoginForms/loginbg.jpg");
    background-size: cover;
    background-position: center;
    column-gap: 30px; 
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: rgba(17, 15, 15, 0.9);
    border-radius: 0.625rem;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
  

}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
  
}

.field input{
    outline: none;
    padding: 0 15px;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
    color: white;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 12px 20px; 
    margin-top: 5px;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
}
.line::before{
    content: 'OR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0 15px;

}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    background-color: white;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}
#password-match-error {
    color: red;
    font-size: 12px;
    margin: 5px;
    margin-bottom: 9rem;
}
.centered-paragraph {
    text-align: center;
    margin-top: 20px; /* Adjust margin-top as needed */
    color: #959393; /* Adjust color as needed */
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px; 
    }
    .form {
        max-width: 90%; 
    }
    .field button {
        padding: 10px 15px; 
    }
}

@media screen and (max-width: 576px) {
    .form {
        padding: 20px; 
    }
    .field button {
        padding: 8px 12px; 
    }
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px; 
    }
    .field button {
        padding: 6px 10px; 
    }
}
