<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User Profile
    </title>
    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/nav-footer.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">

</head>

<style>
  
</style>

<body>

     <!-- NAVBAR -->
    
<div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <!-- <a href="#" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i><span class="main-color"><img class="toplogo" src=" /img/logo.png" alt="logo"></span>
                </a> -->
                <a href="#" class="logo">
                    <i class='bx bxs-movie-play bx-tada main-color'></i><span class="main-color"> F</span>lick<span class="main-color">L</span>ounge
                </a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/user/search/" class="nav-item nav-link ">Browse</a>
                    <a href="/user/movies/" class="nav-item nav-link ">Movies</a>
                    <a href="about.html" class="nav-item nav-link">Lists</a>
                    <a href="services.html" class="nav-item nav-link">Services</a>
                    <a href="packages.html" class="nav-item nav-link">Packages</a>
                    <a href="blog.html" class="nav-item nav-link">Blog</a>
                    <a  href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <a href="/user/signin/" class="btn btn-hover">
                    <span>Sign in</span>
                </a>
                <a href="/user/signup/" class="btn btn-hover">
                    <span>Sign up</span>
                </a>
            </div>
            
        </nav>

        <div class="stats anime">
            <h5 class="mb12">
                <a class="floatRightHeader ff-Verdana" href="https://myanimelist.net/profile/DavidF1/statistics/anime-scores">All Anime Stats</a>
                Anime Stats
            </h5>

                        
        <div class="stat-score di-t w100 pt8">
        <div class="di-tc al pl8 fs12 fw-b"><span class="fn-grey2 fw-n">Days: </span>34.7</div>
        <div class="di-tc ar pr8 fs12 fw-b">
            <span class="fn-grey2 fw-n">Mean Score: </span>
            <span class="score-label score-8">8.98</span>
        </div>
        </div>

        <div class="stats-graph mt8"><span class="graph anime watching" style="width: 4.6px"></span><span class="graph anime completed" style="width: 322px"></span><span class="graph anime on_hold" style="width: 0px"></span><span class="graph anime dropped" style="width: 6.9px"></span><span class="graph anime plan_to_watch" style="width: 46.3px"></span></div>
        <div class="mt12 ml8 mr8 clearfix">
        <ul class="stats-status fl-l"><li class="clearfix mb12"><a href="https://myanimelist.net/animelist/DavidF1?status=1" class="di-ib fl-l lh10 circle anime watching">Watching</a><span class="di-ib fl-r lh10">2</span></li><li class="clearfix mb12"><a href="https://myanimelist.net/animelist/DavidF1?status=2" class="di-ib fl-l lh10 circle anime completed">Completed</a><span class="di-ib fl-r lh10">139</span></li><li class="clearfix mb12"><a href="https://myanimelist.net/animelist/DavidF1?status=3" class="di-ib fl-l lh10 circle anime on_hold">On-Hold</a><span class="di-ib fl-r lh10">0</span></li><li class="clearfix mb12"><a href="https://myanimelist.net/animelist/DavidF1?status=4" class="di-ib fl-l lh10 circle anime dropped">Dropped</a><span class="di-ib fl-r lh10">3</span></li><li class="clearfix mb12"><a href="https://myanimelist.net/animelist/DavidF1?status=6" class="di-ib fl-l lh10 circle anime plan_to_watch">Plan to Watch</a><span class="di-ib fl-r lh10">20</span></li></ul><ul class="stats-data fl-r"><li class="clearfix mb12"><span class="di-ib fl-l fn-grey2">Total Entries</span><span class="di-ib fl-r">164</span></li><li class="clearfix mb12"><span class="di-ib fl-l fn-grey2">Rewatched</span><span class="di-ib fl-r">0</span></li><li class="clearfix mb12"><span class="di-ib fl-l fn-grey2">Episodes</span><span class="di-ib fl-r">2,005</span></li></ul>            </div>
        </div>
 
        <div class="user-image mb8">
            <img class=" lazyloaded" data-src="https://cdn.myanimelist.net/s/common/userimages/89395520-ce64-4aca-9fb8-5b137491cc1f_225w?s=f88763fe189415d2de92e1037f80f226" src="https://cdn.myanimelist.net/s/common/userimages/89395520-ce64-4aca-9fb8-5b137491cc1f_225w?s=f88763fe189415d2de92e1037f80f226" data-gtm-vis-recent-on-screen13153650_147="642" data-gtm-vis-first-on-screen13153650_147="642" data-gtm-vis-total-visible-time13153650_147="100" data-gtm-vis-has-fired13153650_147="1" data-gtm-vis-recent-on-screen13153650_151="643" data-gtm-vis-first-on-screen13153650_151="643" data-gtm-vis-total-visible-time13153650_151="100" data-gtm-vis-has-fired13153650_151="1">
        </div>


 <!-- FOOTER SECTION -->
 <footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i><span class="main-color"> F</span>lick<span class="main-color">L</span>ounge
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores, quibusdam?
                    </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            
                            <ul class="footer-menu">
                                <li><p><b>Flix</b></p></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            
                            <ul class="footer-menu">
                                <li><p><b>Browse</b></p></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            
                            <ul class="footer-menu">
                                <li><p><b>Help</b></p></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                           
                            <ul class="footer-menu">
                                <li> <p><b>Download app</b></p></li>
                                <li>
                                    <a href="#">
                                        <img src="/img/Footer/google-play.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/img/Footer/app-store.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->
 <!-- COPYRIGHT SECTION -->
 
 <div class="copyright">
    © 2024 Flick Lounge
</div>
<!-- END COPYRIGHT SECTION -->
  

 

    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="/js/nav-foot.js"></script>

</body>

</html>