<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in </title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/registration.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Sign in to FlickLounge</header>
                    <form action="/forms" id="login-form" method="post">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" id="login-email" required>
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password" id="login-password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="form-link">
                            <a href="/user/request-password-reset/" class="forgot-pass">Forgot password?</a>
                        </div>
                        <div class="field button-field">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Don't have an account? <a href="/user/signup/" class="link signup-link">Signup</a></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="/img/LoginForms/google.png" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <script src="/js/registration.js"></script>
    </body>
</html>